Organizador.bat
build/
dist/
*.spec
*.exe
.vscode/
__pycache__/
*.log
config_unidade.json
*.txt
__pycache__/
*.pyc
build/
dist/
*.spec
*.log
.env
venv/
.venv/
config_unidade.json
update_temporario_download.exe
atualizar_rae.bat
